@model Frontend.Models.TextViewModel
<br /><br />
<head>
    <style>
        h2 {
            font-weight: bold;
            font: 50px arial, sans-serif;
        }

        input[type='submit'] {
            font-size: 32px;
            background-color: darkorange;
            border-color: darkorange;
        }

        body {
            background-image: url("../../Backgrounds/background.jpg");
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .input-w label, .input-w input {
            float: none; /* if you had floats before? otherwise inline-block will behave differently */
            display: inline-block;
            vertical-align: middle;    
        }
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 16px;
            padding: 10px;
            width: 100px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '<<';
            position: absolute;
            opacity: 0;
            top: 0;
            right: 20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
</head>

<body>
    
<button class="button" onclick="location.href = '@Url.Action("NavigateToClassView", "Teachers")'" style="vertical-align: middle"><span>חזור </span></button>

@*<button id="myBtn" class="hidden"></button>*@

<div class="row">
    <div class="row">
        <div class="col-sm-10">
            <b>
                <h2>@ViewBag.Title:</h2></b>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <b><h4>@Session["CurrentSubject"]</h4></b>
        </div>
    </div>
    <br/>

    <div class="row">       
        <div class="col-sm-3 pull-right">
            <form class="col-xs-12" action="NavigateToTextAdding" method="post" >
                <input type="submit" value="הוסף טקסט חדש" style="background-color: green; border-color: green;" />
                <textarea id="CurrentSubject" name="CurrentSubject" value="@Html.Raw(TempData["CurrentSubject"])" style="visibility: hidden;"></textarea>
            </form>
        </div>
        <div class="col-sm-3 pull-right">
            <form class="col-xs-12" action="RemoveText" method="post">
                <input type="submit" id="txtRemove" value="הסר טקסט" style="background-color: firebrick; border-color: firebrick;" onclick="ChooseText($('input[type=radio]:checked').val())" />
                <textarea id="CurrentText" name="CurrentText" value="" placeholder="אנא בחר טקסט" style="visibility: hidden;"></textarea>
            </form>
        </div>
        <div class="col-sm-3 pull-right">
            <b><span id="title">&nbsp;@Html.Raw(TempData["msg"])</span></b>
        </div>
    </div>
    <hr/>
    
@*@using (Html.BeginForm("ShowTexts", "Teachers", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <div class="row">
        <div class="col-sm-2 pull-right">
            <h3>
                <label for="myBtn" class="label label-warning" style="background-color: orange; color: white">בחר נושא</label>
            </h3>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <br/><br/>
                    <div dir="rtl">
                        @foreach (var subject in TempData)
                        {
                            if (subject.Key != "msg" && !subject.Key.Contains("txt"))
                            {
                                <div class="input-w">
                                    @Html.RadioButtonFor(m => m.SubjectID, @subject.Value)
                                    <label for="@subject.Key">@subject.Value</label>
                                </div>
                            }
                        }
                    </div>
                    <br/>
                    <input type="button" onclick="ChooseSubject($('input[type=radio]:checked').val())" value="בחר"/>
                </div>
            </div>
        </div>
        <div class="col-sm-2 pull-right">
            <h3 style="color: orange;">
                <b><span id="title">&nbsp;@Html.Raw(TempData["msg"])</span></b>
                <textarea id="CurrentSubject" name="CurrentSubject" value="" placeholder="אנא בחר נושא" style="visibility: hidden;"></textarea>
            </h3>
        </div>
        <div class="col-sm-2 pull-right">
                <input type="submit" id="showTexts" value="הצג טקסטים" style="display: none;"/>
        </div>
    </div>
}*@
    
    <div class="row">
        @foreach (var txt in TempData)
        {
            if (txt.Key.Contains("txt"))
            {
                <div class="input-w">
                    @Html.RadioButtonFor(m => m.SubjectID, @txt.Value)
                    <label for="@txt.Key">@txt.Value</label>
                </div>
            }
        }
    </div>

</div>
<br/><br/><br/><br/><br/><br/><br/>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function ChooseSubject(val) {
        if (val != null) {
            document.getElementById("title").firstChild.nodeValue = val;
            $('#showTexts').show();

            document.getElementById("CurrentSubject").value = val;
        }

        // close the modal:
        modal.style.display = "none";
    }

    function ChooseText(val) {
        if (val != null) {
            document.getElementById("CurrentText").value = val;
        }
    }
</script>
</body>