@model Frontend.Models.TextViewModel

<!DOCTYPE HTML>
<html lang="he" dir="rtl">
<head>
    <style>
        
        body {
            background-image: url("../../Backgrounds/background.jpg");
            width:100%;
            height: 100%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        input[type='file'] {
            font-size: 16px;
        }

        input[type='submit'] {
            font-size: 24px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .input-w label, .input-w input {
            float: none; /* if you had floats before? otherwise inline-block will behave differently */
            display: inline-block;
            vertical-align: middle;    
        }

        img.top {
            vertical-align: text-top;
        }

        #filecontents { 
            border:double; 
            overflow-y:scroll; 
            height:400px; 
        } 
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 16px;
            padding: 10px;
            width: 100px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .button span:after {
            content: '<<';
            position: absolute;
            opacity: 0;
            top: 0;
            right: 20px;
            transition: 0.5s;
        }

        .button:hover span {
            padding-right: 25px;
        }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
</head>
<body>
    
<button id="myBtn" class="hidden"></button>
    <br/>
    <button class="button" onclick="location.href = '@Url.Action("NavigateToTextsView", "Teachers")'" style="vertical-align: middle"><span>חזור </span></button>

@Html.Raw(TempData["msg"])

@using (Html.BeginForm("SubmitText", "Teachers", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <div class="row">
        <div class="col-md-3 pull-right">
            
            <h3>
                <label for="myBtn" class="label label-warning" style="background-color: green; color: white">החלף נושא</label>
            </h3>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <br/><br/>
                    <div dir="rtl">
                        @foreach (var subject in TempData)
                        {
                            if (subject.Key != "msg")
                            {
                                <div class="input-w">
                                    @Html.RadioButtonFor(m => m.SubjectID, @subject.Value)
                                    <label for="@subject.Key">@subject.Value</label>
                                </div>
                            }
                        }
                    </div>
                    <br/>
                    <input type="button" onclick="ChooseSubject($('input[type=radio]:checked').val())" value="בחר"/>
                </div>

            </div>
        </div>
        <div class="col-md-6 pull-right">
            <h3 id="CrntSubj1" style="color: green; display: none;"><b><span id="title">&nbsp;</span></b></h3>
            
            <h3 id="CrntSubj2" style="color: green; display: block;"><b><span id="title">@Session["CurrentSubject"]</span></b></h3>
        </div>
    </div>

    <div class="row">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr/>
            @Html.ValidationSummary("", new {@class = "text-danger"})


            <div class="form-group">
                <div class="col-md-3 pull-right">
                    @Html.TextBoxFor(m => m.Name,
                        new {@type = "file", @name = "FilePath", @id = "txtfiletoread", accept = ".txt" })
                    @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 pull-right">
                    <textarea class="col-md-offset-2 col-md-3 pull-right" id="filecontents" name="filecontents"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-3 pull-right">
                    <input type="submit" value="שמור טקסט" class="btn btn-default" style="display: none; background-color: crimson; color: white" id="SubmitBtn" />
                </div>
            </div>    
                   
        </div>
    </div>
}

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function ChooseSubject(val) {
        if (val != null) {
            document.getElementById("title").firstChild.nodeValue = val;

            $('#CrntSubj1').show();
            $('#CrntSubj2').hide();
            //$('#SubmitBtn').show();
        }

        // close the modal:
        modal.style.display = "none";
    }

    window.onload = function() {
        //Check the support for the File API support
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            var fileSelected = document.getElementById('txtfiletoread');
            fileSelected.addEventListener('change',
                function(e) {
                    //Set the extension for the file
                    var fileExtension = /text.*/;
                    //Get the file object
                    var fileTobeRead = fileSelected.files[0];
                    //Check of the extension match
                    if (fileTobeRead.type.match(fileExtension)) {
                        //Initialize the FileReader object to read the 2file
                        var fileReader = new FileReader();
                        fileReader.onload = function(e) {
                            var fileContents = document.getElementById('filecontents');
                            document.getElementById("filecontents").value = fileReader.result;
                            $('#SubmitBtn').show();
                        }
                        fileReader.readAsText(fileTobeRead);
                    } else {
                        alert("Please select text file");
                    }

                },
                false);
        } else {
            alert("Files are not supported");
        }
    }

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</body>
</html>

