
<br /><br /><br />
<head>
    <style>
        input[type='text'], input[type='password'] {
            font-size: 24px;
            background-color: lemonchiffon;
            border-color: green;
            width: 30%;
        }

        input[type='submit'] {
            font-size: 32px;
            background-color: darkorange;
            border-color: darkorange;
        }

        body {
            background-image: url("../../Backgrounds/background.jpg");
            width:100%;
            height: 100%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>


<div class="row">
    @using Frontend.Models
    @model Frontend.Models.LoginViewModel
        <div class="row">
            <div class="col-md-8">
                <img src="../../Logo/2.png" alt="מכתבה" height="250" width="250">
            </div>
        </div>

            <div class="row">
                <div class="col-md-9">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                  
                            <hr />
                            <div class="col-md-10">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-sm-10 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.UserName, new { @id = "loginTB", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-sm-10 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @id = "passwordTB", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "michtava-CB" })
                                            @Html.LabelFor(m => m.RememberMe, new { @class = "michtava-CB-lbl" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input type="submit" value="התחבר" class="btn btn-default" />
                                    </div>
                                </div>

                                @* Enable this once we have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                                }
                    </section>
                </div>
               
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
</div>
<br /><br /><br /><br /><br /><br /><br />
</body>