@model Entities.Models.Policy

@{
    ViewBag.Title = "תיבת טקסט חכמה";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE HTML>
<html lang="he" dir="rtl">
<head>
    <style>
        body {
            background-image: url("../../Backgrounds/background.jpg");
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<div class="row">
    <form class="col-xs-12" action="AnalyzeAnswer" method="post">
        <div class="col-md-4">
            <label rows="1" cols="25" id="NumOfWords">
                מספר מילים: @TempData["NumberOfWords"] / @Model._maxWords
            </label>
            <label rows="1" cols="25" id="NumOfConnectorWords">
                מספר מילות קישור: @TempData["NumberOfConnectorWords"] / @Model._maxConnectors
            </label>               
        </div>
        <div class="col-md-4">
            <textarea name="TextBoxArea" id="Input" placeholder="הכנס את התשובה כאן..." cols="200" rows="20" style="background-color: #FCF5D8; color: #AD8C08; border: 5px double #AD8C08;">@TempData["Answer"]</textarea>
            <input type="submit" value="בדיקה" />
        </div>
    </form>
</div>
</body>
</html>
