@model Frontend.Models.RegisterViewModel
@{
    ViewBag.Title = "הרשמה (debug)";
}

<h3>@ViewBag.Title.</h3>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>צור חשבון. (debug)</h2>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label michtava-reg-label" })


    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label michtava-reg-label" })


    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label michtava-confirm-label " })


    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="הרשמה(debug)" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
