@model Entities.Models.Question

@{
    ViewBag.Title = "תיבת טקסט חכמה";
}




    <style>
        body {
            background-image: url("../../Backgrounds/homeworkBackground.jpg");
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: repeat;
        }

        input[type='button'] {
            width: 5em;
            font-size: 16px;
            background-color: green;
            border-color: green;
            color: white;
        }

        button {
            font-size: 16px;
            background-color: chocolate;
            border-color: green;
            color: white;
        }

        textarea {
            font-size: 14pt;
        }

        .styled-select {
            background: green;
            color: white;
            height: 29px;
            overflow: hidden;
            width: 200px;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .input-w label, .input-w input {
            float: none; /* if you had floats before? otherwise inline-block will behave differently */
            display: inline-block;
            vertical-align: middle;    
        }

        img.top {
            vertical-align: text-top;
        }
    </style>

<form class="col-xs-12" action="AnalyzeAnswer" method="post">


  <div class="row">
      <div class="row">
          <div class="col-md-10 pull-right">
              <p style="font-size:200%">@Model.Content</p>
          </div>
      </div>    

 <!--<div class="row">
        <div class="col-md-3 pull-right">
            <p>
                <h3>מה התשובה לשאלה<a target="_blank" href="#" id="wordDef" title=""><img src="https://shots.jotform.com/kade/Screenshots/blue_question_mark.png" height="15px" class="top" /></a> המוצגת?</h3>
            </p>
        </div>
    </div>
    <br/>
     -->   
    <div class="row">
        <div class="col-md-3 pull-right">
            <h3><label for="myBtn" class="label label-warning">קבל משפט פתיחה</label></h3>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <br/><br/>
                    <div dir="rtl">
                       

                        @foreach (var suggOpen in Model.Suggested_Openings)
                        {
                            <div class="input-w">
                                <input name="group" id="@suggOpen" type="radio" value="@suggOpen" />
                                <label for="@suggOpen">@suggOpen</label>
                            </div>
                        }

                    </div>
                    <br/>
                    <input type="button" onclick="GetKeySentence($('input[type=radio]:checked').val())" value="בחר" />
                </div>

            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-1 pull-right">
            <input type="button" value="B" style="font-weight: bold" onclick="addBold()"/>
        </div>
        <div class="col-md-1 pull-right">
            <input type="button" value="U" style="text-decoration: underline" onclick="addUnderline()"/>
        </div>
        <div class="col-md-1 pull-right">
            <input type="button" value="I" style="font-style: italic" onclick="addI()"/>
        </div>
        <div class="col-md-1 pull-right">
            <select class="styled-select" onchange="changeFont()" id="fontSize">
                <option>בחר גודל כתב</option>
                <option value="11pt">11</option>
                <option value="12pt">12</option>
                <option value="14pt">14</option>
                <option value="16pt">16</option>
                <option value="18pt">18</option>
                <option value="20pt">20</option>
                <option value="24pt">24</option>
                <option value="28pt">28</option>
                <option value="32pt">32</option>
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <textarea name="TextBoxArea" id="Input" placeholder="הכנס את התשובה כאן..." cols="50" rows="10" style="background-color: #FCF5D8; color: #AD8C08; border: 5px double #AD8C08;">@TempData["Answer"]</textarea>
        </div>
    </div>

      <div class="row">

          <div class="row">
              <div class="col-md-12">
                  <label rows="1" cols="25" id="NumOfWords">
                      מספר מילים: @TempData["NumberOfWords"] / @Model.Policy.MaxWords
                  </label>
                  <label rows="1" cols="25" id="NumOfConnectorWords">
                      מספר מילות קישור: @TempData["NumberOfConnectorWords"] / @Model.Policy.MaxConnectors
                  </label>
                  <label rows="1" cols="25" id="toManyWords">
                      @TempData["toManyWords"]
                  </label>
                  <label rows="1" cols="25" id="toManyConnectors">
                      @TempData["toManyConnectors"]
                  </label>
                  <label rows="1" cols="25" id="toManyConnectors">
                      @TempData["AlternativeWords"]
                  </label>
                  
              </div>
          </div>
      </div>

    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="הגשה סופית" style="width: 7em; font-size: 20px; background-color: crimson"/>
        </div>
        <div class="col-md-6">
            <input name="questionNumber" type="submit" value="@Model.Question_Number" style="width: 5em"/>
        </div>
    </div>
    <br/>
    <hr/>
 </div>

</form>

<!-------------------- Buttons --------------------------->

    <button id="myBtn" class="hidden"></button>

<!-------------------------------------------------------->

<script>

    function GetKeySentence(val) {
        if (val != null) 
        document.getElementById("Input").value = val + " " +
            document.getElementById("Input").value;

        // close the modal:
        modal.style.display = "none";
    }

    function addBold() {

        var tArea = document.getElementById("Input");

        if (tArea.style.fontWeight == '') {
            tArea.style.fontWeight = 'bold';
        } else {
            tArea.style.fontWeight = '';
        }
    }

    function addUnderline() {

        var tArea = document.getElementById("Input");

        if (tArea.style.textDecoration == '') {
            tArea.style.textDecoration = 'underline';
        } else {
            tArea.style.textDecoration = '';
        }
    }

    function addI() {

        var tArea = document.getElementById("Input");

        if (tArea.style.fontStyle == '') {
            tArea.style.fontStyle = 'italic';
        } else {
            tArea.style.fontStyle = '';
        }
    }

    function changeFont() {

        var tArea = document.getElementById("Input");

        var selectBox = document.getElementById("fontSize");

        var selectedValue = selectBox.options[selectBox.selectedIndex].value;

        tArea.style.fontSize = selectedValue;
    }

    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    document.getElementById("wordDef").title = "שאלה - משפט המנוסח במלים מסוימות או מבוטא בטון מסוים כדי לקבל בתגובה מידע או תשובה\n ואז המשיכו";
</script>


