
@using Microsoft.AspNet.Identity

@model Frontend.Models.SubjectsNotificationsViewModel


<br /><br /><br />
<!DOCTYPE html>
<html lang="he">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <style>

        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 5px;
    }


      .row.content {height: auto;}
    }
       

        h2 {
            font-weight: bold;
            font: 50px arial, sans-serif;
        }

        input[type='submit'] {
            font-size: 24px;
            background-color: darkorange;
            border-color: darkorange;
        }

        div.button-wrapper {
            position: relative;
        }



        .notification-on {
            position: absolute;
            top: 0;
            right: 0;
            text-align: center;
            color: white;
            border-radius: 10px;
            background-color: red;
            width: 20px;
            font-weight: bold;
        }

        abbr[title] {
            border-bottom: none !important;
            cursor: inherit !important;
            text-decoration: none !important;
        }



        body {
            background-image: url("../../Backgrounds/background3.jpg");
            background-color: lightgoldenrodyellow;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
            body,html{
		height: 100%;
	}

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 10px 10px 0 10px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 200px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */


		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size*/
			margin-left: 200px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}

      
    </style>
</head>

<body dir="rtl" >
    

    <div class="row">
        
    <nav class="navbar navbar-inverse sidebar pull-right" style="background-color:orange;border-radius:25px;width:250px;" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">בחר/י מקצוע:</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    @foreach (var subject in Model.Subjects)
                    {
                        if (Model.subjectsIDList.Contains(subject.Id))
                        {
                            <li style="background-color:indianred">
                                <a href='@Url.Action("ChooseSubSubject", "Students", new {subjName = subject.Name })' style="font-size:medium">
                                    <abbr class="notification-on" title="קיימים שיעורי בית שעלייך להשלים!">!</abbr>
                                    @subject.Name
                                </a>
                            </li>

                        }
                        else
                        {
                            <li>
                                <a href='@Url.Action("ChooseSubSubject", "Students",  new {subjName = subject.Name })' style="font-size:medium">
                                    @subject.Name
                                </a>
                            </li>

                        }

                    }
                    
                </ul>
            </div>
        </div>
    </nav>

        
        
    <div  class="col-sm-4 pull-left" style="max-height:550px;float:left;background-color:orange;border-radius: 25px;overflow-y:auto;overflow-x:hidden">

        <!-- Content Here -->
       
        @if (Model.tmpTexts.Count() != 0)
        {
        <h2 style="margin-right:20px;">שיעורי בית שעלייך לסיים:</h2>
        foreach (var content in Model.tmpTexts)
        {
            <hr>

            <div style="border-radius: 25px;background-color:cornflowerblue;border: 2px solid #73AD21;background-image: url(../../Backgrounds/textBG.jpg");>
                <a href='@Url.Action("ChooseSubSubject", "Students", new {subjName = content.Item3.Name })'>
                <h2>@content.Item3.Name</h2>
                <h5><span class="glyphicon glyphicon-time"></span>נוצר על ידי- @content.Item1 , תאריך אחרון להגשה - @content.Item2</h5>
                <h5><span class="label label-danger">text</span> <span class="label label-primary">Ipsum</span></h5><br>
                @if (content.Item3.Content.Count() > 150)
                {
                <p>@content.Item3.Content.Substring(0, 150);....</p>
                }
                else
                {
                    <p>@content.Item3.Content</p>

                }
                    
                </a>
                <br>
            </div>
                            <hr />
        }
        }
        else
        {
            <h3 style="margin-right:20px;">אין שיעורי בית פעילים</h3>

            <img src="../../Backgrounds/noHomeworks.gif" class="ribbon" />
        }
    </div>
        
        <div class="col-sm-3 col-sm-offset-1">
            <img src="../../Backgrounds/homework.png" class="ribbon"  width="90%" height="90%"/>
            <a href="http://xlimud.telem-hit.net/">
                <h3>למעבר למשחקים לחץ\י</h3>
                <img src="../../Backgrounds/gamesLink.png" style=" width:90%; height: auto;" class="ribbon" />
            </a>
        </div>  

       
        </div>
        </body>

</html>
<script>

    function htmlbodyHeightUpdate() {
        var height3 = $(window).height()
        var height1 = $('.nav').height() + 50
        height2 = $('.main').height()
        if (height2 > height3) {
            $('html').height(Math.max(height1, height3, height2) + 10);
            $('body').height(Math.max(height1, height3, height2) + 10);
        }
        else {
            $('html').height(Math.max(height1, height3, height2));
            $('body').height(Math.max(height1, height3, height2));
        }

    }
    $(document).ready(function () {
        htmlbodyHeightUpdate()
        $(window).resize(function () {
            htmlbodyHeightUpdate()
        });
        $(window).scroll(function () {
            height2 = $('.main').height()
            htmlbodyHeightUpdate()
        });
    });
</script>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->

        <!--

       

        <div class="container-fluid">
            <div class="row content">
                <form class="text-right" action="ChooseSubSubject" method="post" id="SubjectsMenu">

                    <div class="col-sm-3 sidenav pull-right">
                        <h4>@ViewBag.Title:</h4>
                        @foreach (var subject in Model.Subjects)
                        {
                            if (Model.subjectsIDList.Contains(subject.Id))
                            {

                                <div class="col-sm-12 pull-right" style="margin-bottom:10px">
                                    <div class=" col-sm-10 pull-right">
                                        <abbr class="notification-on" title="קיימים שיעורי בית שעלייך להשלים!">!</abbr>

                                        <input name="subjName" type="submit" value="@subject.Name" />
                                    </div>
                                    <div class=" col-sm-10 pull-right">
                                        <h5 style="color:red">קיימים שיעורי בית שעלייך להשלים ב @subject.Name</h5>
                                    </div>

                                </div>

                            }
                            else
                            {
                                <div class="col-sm-12 pull-right" style="margin-bottom:10px">
                                    <div class="col-sm-4 pull-right">
                                        <input name="subjName" type="submit" value="@subject.Name" />
                                    </div>

                                </div>

                            }

                        }


                    </div>

                    <div class="col-sm-9 pull-right">

                        <h3>שיעורי בית שעלייך להשלים</h3>
                        @foreach (var content in Model.tmpTexts)
                        {
                            <hr>

                            <div class=" col-sm-10 pull-right" style="background-color: #f1f1f5;">
                                <h2>@content.Item3.Name</h2>
                                <h5><span class="glyphicon glyphicon-time"></span>נוצר על ידי- @content.Item1 , תאריך אחרון להגשה - @content.Item2</h5>
                                <h5><span class="label label-danger">text</span> <span class="label label-primary">Ipsum</span></h5><br>
                                <p>@content.Item3.Content</p>
                                <input class="pull-left" name="subjName" type="submit" value="לסיפור" />

                                <br><br>
                            </div>
                            <hr />
                        }
                    </div>
                </form>
            </div>
        </div>

        <footer class="container-fluid">
            <p>Footer Text</p>
        </footer>

</body>

    

</html>
             -->

<!--
<div class="row">
        <form class="text-right" action="ChooseSubSubject" method="post" id="SubjectsMenu">
            <div class="row">
                <div class="col-sm-10">
                    <b>
                        <u>
                            <h2>@ViewBag.Title:</h2>
                        </u>
                    </b>
                </div>

                <div class="col-sm-2 pull-left">


                    <h3>@Session["StudentName"]</h3>


                </div>

            </div>
            <br /><br />

            <div class="row">



                @foreach (var subject in Model.Subjects)
                {
                    if (Model.subjectsIDList.Contains(subject.Id))
                    {

                        <div class="col-sm-12 pull-right" style="margin-bottom:10px">
                            <div class=" col-sm-10 pull-right">
                                <abbr class="notification-on" title="קיימים שיעורי בית שעלייך להשלים!">!</abbr>

                                <input name="subjName" type="submit" value="@subject.Name" />
                            </div>
                            <div class=" col-sm-10 pull-right">
                                <h5 style="color:red">קיימים שיעורי בית שעלייך להשלים ב @subject.Name</h5>
                            </div>

                        </div>

                    }
                    else
                    {
                        <div class="col-sm-12 pull-right" style="margin-bottom:10px">
                            <div class="col-sm-4 pull-right">
                                <input name="subjName" type="submit" value="@subject.Name" />
                            </div>

                        </div>

                    }

                }

            </div>
        </form>
    </div>
    <br /><br /><br /><br /><br /><br />
</body>
    
-->